<ion-card color="dark">

  <ion-card-header>

    <ion-card-subtitle>

      <span class="subtitulo">{{noticia.source.name}}</span>

      <div class="menu">

        <ion-button (click)="onClick()" fill="clear" color="danger">

          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>

        </ion-button>

      </div>

    </ion-card-subtitle>

    <ion-card-title>{{noticia.title}}</ion-card-title>

  </ion-card-header>

  <ion-img *ngIf="noticia.urlToImage" [src]="noticia.urlToImage"></ion-img>

  <ion-card-content>

    <p>{{noticia.description}}</p>

  </ion-card-content>

</ion-card>